<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hohimlee.mpa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen.Running.others"></activity>
        <activity android:name=".MainScreen.RecyclerView_details" />
        <activity android:name=".MainScreen.Running.Running_Timer" />
        <activity android:name=".MainScreen.Running.Running_finished" />
        <activity android:name=".MainScreen.Running.Running_storeData" />
        <activity android:name=".LoginAndSignUp.ResetPassword.EmailSentScreen" />
        <activity android:name=".LoginAndSignUp.Login.SignInWithEmail" />
        <activity android:name=".LoginAndSignUp.SignUp.EmailSentScreen" />
        <activity android:name=".MainScreen.MainScreen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.ResetPassword_EmailScreen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.ResetPassword_OTP_Screen" />
        <activity android:name=".LoginAndSignUp.Login.LoginOTP_screen" />
        <activity android:name=".LoginAndSignUp.SignUp.SignUpPasswordScreen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.SuccessScreen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.NewPasswordScreen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.ResetPassword_selection_Screen" />
        <activity android:name=".LoginAndSignUp.ResetPassword.ForgetPassword" />
        <activity android:name=".LoginAndSignUp.SignUp.phoneOTP" />
        <activity android:name=".LoginAndSignUp.SignUp.SignUpScreen3" />
        <activity android:name=".LoginAndSignUp.SignUp.SignUpScreen_2" />
        <activity android:name=".LoginAndSignUp.SignUp.SignUpScreen" />
        <activity android:name=".LoginAndSignUp.Login.LoginScreen" />
        <activity android:name=".MainScreen.Running.Running_1" />
        <activity android:name=".SplashScreen.introduction" />
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:theme="@style/ProxyTheme"
            tools:replace="android:theme" />
        <activity android:name=".SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
    </application>

</manifest>